    body {
        background-image: url('../Content/images/background-knife.jpeg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% auto;
    }