.flex-row.row {
    display: flex;
    flex-wrap: wrap;
}

    .flex-row.row > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }

    .flex-row.row:after,
    .flex-row.row:before {
        display: flex;
    }

       .cardtest {
        flex: 1;
        border: 1px solid grey;
        display: flex;
        flex-direction: column;
    }