

<div class="row" style="margin-bottom:400px">
    <h3>Вашиот профил е креиран и е испратен link за потврда на вашата email адреса.</h3>
    <h3>Ве молиме искористете го пратениот линк за да го активирате вашиот профил.</h3>
</div>
